---
import { siteConfig } from "src/config/site-config";
import MainLayouts from "src/layouts/MainLayouts.astro";
import CardAuthor from "../../components/CardAuthor.astro"
import { getCollection } from "astro:content";

const authors = await getCollection('author');
---

<MainLayouts title="Listado autores">
    <section class="bg-gray-900 container px-6 py-10 mx-auto">
        <div class="">
            <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
                { siteConfig.title }
            </h1>
            <a class="btn mr-2" href="/">Regresar</a>

        </div>
    </section>
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        {
            authors.map(author => (<CardAuthor author={author}/>))
        }
        
    </section>
</MainLayouts>
<style>
    .btn {
        @apply text-blue-500 hover:underline;
    }

</style>